.App{
  width: 500px;
  height:500px;
  margin: 0 auto;
  text-align: center;
}
label{
  display: block;
}
span{
  display: block;
  color: red;
  font-size: 12px
}
.errors{
  border: solid red 1px;
}
input{
  outline: red;
}